import graphql from 'babel-plugin-relay/macro';

const OpticalNodeDetailsQuery = graphql`
  query OpticalNodeDetailsQuery($opticalNodeId: ID!) {
    getOpticalNodeById(id: $opticalNodeId) {
      ...OpticalNodeUpdateForm_opticalNode
      ___OPTICAL_NODE_FIELDS___
    }
  }
`;

export default OpticalNodeDetailsQuery;
