.lateral-slider-menu {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    right: -500px;
    transition: all 1s ease 0s;
    display: flex;
    &__content {
        height: 100%;
        width: 300px;
        box-shadow: 0 0 10px 0 rgba(76, 96, 133, 0.13);
        background-color: white;
    }

    &__overlay {
        height: 100%;
        width: calc(100% - 300px);
        background-color: transparent;
    }
    &.expanded {
        transition: all 0.5s ease 0s;
        right: 0;
    }
}
