import graphql from 'babel-plugin-relay/macro';

const OpticalFilterDetailsQuery = graphql`
  query OpticalFilterDetailsQuery($opticalFilterId: ID!) {
    getOpticalFilterById(id: $opticalFilterId) {
      ...OpticalFilterUpdateForm_opticalFilter
      ___OPTICALFILTER_FIELDS___
    }
  }
`;

export default OpticalFilterDetailsQuery;
