import graphql from 'babel-plugin-relay/macro';

const HostDetailsQuery = graphql`
  query HostDetailsQuery($hostId: ID!) {
    getHostById(id: $hostId) {
      ...HostUpdateForm_host
      ___HOST_FIELDS___
    }
  }
`;

export default HostDetailsQuery;
