@import "../variables.scss";

.accordion-menu-options {
    color: $secondary-color;
    padding: 1em;
    .toggle-section > .toggle-header > .colapse {
        float: none;
        width: auto;
        position: relative;
        top: -3px;
    }
    .toggle-panel {
        margin-top: 0;
    }
    &__header {
        color: $secondary-color;
        padding: 0.5rem 1rem;
    }
    &__link {
        padding: 1px 0px;
        a,
        .--fake-link {
            display: flex;
            align-items: center;
            .accordion-menu-options__link__icon {
                color: $complementary-color;
                margin-right: 8px;
                font-size: 20px;
            }
            .accordion-menu-options__link__name {
                color: $secondary-color;
            }
        }
    }
}
.accordion-menu-options--multiple-subs {
    .toggle-header {
        .accordion-menu-options__link {
        }
    }
    .toggle-panel {
        .accordion-menu-options__link {
            margin-left: 1.5em;
            a {
                .accordion-menu-options__link__name {
                    color: $tertiary-color;
                }
            }
        }
    }
}
