@import "../variables.scss";

.App {
    background-color: $background-color;
    font-family: $font;
}

img{
    max-width: 100%;
}

button{
    background: none;
    border: none;
}

.borderless{
    > div{
        border: none;
    }
}
