@import "../variables.scss";

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    width: inherit;
    min-height: inherit;
    margin: 0;
    padding: 0;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1450px;
    }
}

.App {
    background-color: $background-color;
    font-family: $font;
}

img {
    max-width: 100%;
}

button {
    background: none;
    border: none;
}

.borderless {
    > div {
        border: none;
    }
}
