@import "../variables.scss";

* {
    box-sizing: border-box;
    font-size: 14px;
}
@media (min-width: 1500px) {
    .container {
        max-width: 1450px;
    }
}

body,
html {
    height: 100%;
}

.App {
    background-color: $tertiary-color-3;
    font-family: $font;
    color: $secondary-color;
}

.container {
    height: auto;
}

img {
    max-width: 100%;
}

button {
    background: none;
    border: none;
}

::placeholder,
h1,
h2,
h3,
i {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: inherit;
    font-weight: bold;
}

h3 {
    font-size: inherit;
    font-weight: normal;
}

::placeholder {
    font-style: italic;
    color: $secondary-color-20;
}

.borderless {
    > div {
        border: none;
    }
}

.wrapper-svg{
    display: inline-block;
}
