@import "../variables.scss";

.breadcrumb {
    padding-left: 0;
    font-family: roboto;
    font-style: italic;
    background-color: transparent;
    .breadcrumb-item {
        &:not(:first-child) {
            &:before {
                content: ">";
                color: rgba($secondary-color, 0.75);
            }
        }
        &.active,
        a {
            color: rgba($secondary-color, 0.75);
        }
    }
}
