@import "../variables.scss";
@import "./viewports.scss";

.confirm-modal {
    @include desktop {
        min-width: 600px;
    }
    .modal-content {
        font-family: "Karla", sans-serif;
        border: none;
        border-radius: 0;
        .modal-header {
            padding: 8px;
            border: none;
            button.close {
                font-weight: 400;
                opacity: 0.2;
            }
        }
        .confirm-modal__body {
            padding: 75px 160px 60px;
            text-align: center;
            color: $gray-font-color;
            &__main-text {
                font-size: 1.3em;
                margin-bottom: 1.5em;
            }
            &__secondary-text {
                font-size: 0.9em;
                margin-bottom: 4em;
            }
            &__buttons {
                margin-bottom: 1em;
            }
        }
    }

    &--convert-host {
        .modal-content {
            .confirm-modal__body {
                padding: 75px 45px 60px;
                &__secondary-text {
                    margin-bottom: 10px;
                }
                &__final-text {
                    font-size: 14px;
                    font-weight: bold;
                    margin-top: 2em;
                    color: $warning-alert-color;
                }
                &__buttons {
                    margin-top: 3em;
                    button:not(:last-child) {
                        margin-right: 10px;
                    }
                    button {
                        width: 109px;
                        height: 36px;
                    }
                }
            }
        }
    }
}
