@import "../variables.scss";

div.copy-to-clipboard {
    display: inline-block;
    position: relative;
    
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__children {
            width: calc(100% - 20px);
        }

        &__icon {
            width: 20px;
            i {
                color: $complementary-color;
                margin-right: 8px;
            }
        }
    }

    &:hover {
        cursor: pointer;
    }

    .tooltip {
        display: inline;
        position: relative;
    }
}
