@import "../variables.scss";

div.copy-to-clipboard {
    display: inline-block;
    position: relative;

    .icon-copy {
        color: $complementary-color;
        margin-right: 8px;
    }

    &:hover {
        cursor: pointer;
    }

    .tooltip {
        display: inline;
        position: relative;
    }
}
