@import "../variables.scss";

.dashboard-block{
    background-color: $secundary-color;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    header{
        margin-bottom: 15px;
        display: table;
        > *{
            width: auto;
            display: table-cell;
            width: 100%;
        }
        h2{
            font-size: 20px;
        }
        .order-by{
            text-align: right;
        }
    }
    article{
        font-size: 14px;
        .row{
            border-bottom: solid 1px $primary-color;
            padding: 15px 0;
            .col{
                vertical-align: middle;
                > div{
                    vertical-align: middle;
                }
                div.info{
                    font-size: 12px;
                    margin-top: 6px;
                }
                &:first-child{
                    img{
                        max-width: 48px;
                        border: solid 1px rgba(177,177,177,1);
                    }
                }
                &:last-child{
                    text-align: right;
                }
            }
        }
    }
    footer{
        padding-top: 15px;
    }
}
