@import "../variables.scss";

.edit-field {
    .form-group {
        margin-right: 8px;

        input.edit-field-title {
            font-size: 24px;
            font-family: 'Karla', sans-serif;
            display: inline-block;
            color: $secondary-color;
            margin: 0 4px 0 0;
            padding: 16px;
            background: none;
            vertical-align: middle;
            height: 44px;
            width: 260px;
        }
    }

    .icon-pencil {
        color: $complementary-color;
        font-size: 18px;
        vertical-align: middle;
    }

    .error-title {
        h1 {
            color: $alert-color !important;
        }
    }
}
