@import "../variables.scss";

.edit-field {
    .form-group {
        .edit-field-title {
            font-size: 24px;
            font-weight: bold;
            font-family: 'Karla', sans-serif;
            display: inline-block;
            color: $secondary-color;
            margin: 0 16px;
            padding: 0;
            border: none;
            border-radius: 0;
            background: none;
            border-bottom: 2px solid $secondary-color-20;
            vertical-align: middle;
        }
    }

    .icon-pencil {
        color: $complementary-color;
        font-size: 18px;
        vertical-align: middle;
    }

    .error-title {
        h1 {
            color: $alert-color !important;
        }
    }
}
