@import "../variables.scss";
@import '~pretty-checkbox/src/pretty-checkbox.scss';

.field-checkbox {
    div.pretty {
        min-width: 25px;
        &.custom{
            &.p-switch.p-fill {
                .state {
                    &:before {
                        width: 1.2em;
                        height: calc(0.6em + 2px);
                        top: calc((0% - (100% - 1.3em)) - 16%);
                    }

                    label {
                        width: calc(0.6em + 2px);

                        &:after,
                        &:before {
                            border: 1px solid #cacaca;
                            width: calc(0.7em + 2px);
                            height: calc(0.7em + 2px);
                            top: calc((0% - (100% - 1.26em)) - 8%);
                            // transform: scale(1);
                        }
                    }
                }

                input:checked ~ .state label:after {
                    left: 0.6em;
                }
            }
        }
    }

    label:hover {
        cursor: pointer;
    }
}
