@import "../variables.scss";

.input-group {
    margin-bottom: 8px;
    display: flex;

    > div {
        margin-right: 8px;
        .icon-trash {
            color: $secondary-color-30;
        }
    }
}

.form-group {
    font-family: Montserrat;
    color: $secondary-color;

    > div {
        display: inline-block;

        &.has-error {
            width: fit-content;

            ::placeholder,
            input,
            select {
                color: $alert-color-75 !important;
                border-color: $alert-color !important;
            }

            span {
                font-size: 12px;
                font-family: karla;
                font-style: italic;
                display: inline-block;
                margin-top: 8px;
                float: right;
                color: $alert-color-75;
            }
        }
    }

    input,
    select {
        font-size: 14px;
        width: 160px;
        height: $input--height;
        border-radius: $input--border-radius;
        border: solid 1px $secondary-color-20;
        color: $secondary-color;
        padding: 4px 16px;

        &.xlg {
            width: $field-input-with-xlg;
        }

        &.lg {
            width: $field-input-with-lg;
        }

        &.sm {
            width: $field-input-with-sm;
        }

        &.auto {
            width: auto;
        }
    }

    select {
        background-color: transparent;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("../static/img/arrow.svg");
        background-repeat: no-repeat, repeat;
        background-position: right 0.3em top 55%, 0 0;
        background-size: 10px auto, 100%;

        option:hover {
            box-shadow: 0 0 10px 100px #1882a8 inset;
        }
    }

    select::-ms-expand {
        display: none;
        /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
    }

    &.search-global {
        position: relative;

        &:before {
            display: inline-block;
            content: "\e90c";
            font-family: "sunet-icons";
            color: $secondary-color-20;
            position: absolute;
            font-size: 20px;
            left: 2px;
            top: 4px;
        }

        input {
            font-family: "Karla", sans-serif;
            display: inline-block;
            color: $secondary-color;
            border: none;
            padding-left: 32px;
            border-radius: 0;
            background: none;
            border-bottom: 2px solid $secondary-color-20;
            vertical-align: middle;
        }
    }
}
