@import "../variables.scss";
@import "./viewports.scss";

.contact-in-organization {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    flex-wrap: wrap;
    &__header__title,
    &__body__row__element {
        @include desktop {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 25%;
        }
    }
    &__header {
        display: flex;
        width: 100%;
        &__title {
            margin-bottom: 1.5rem;
            font-family: karla;
            font-weight: bold;
            color: $secondary-color-30;
            align-items: center;
            display: flex;
            &--with-cta {
                span {
                    margin-right: $margin-lateral-line-elements;
                }
            }
        }
    }
    &__body {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        &__row {
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin-top: 15px;
            width: 100%;
            align-items: center;
            &__element--ellipsis {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                > div {
                    > div {
                        height: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
            &__element {
                margin-bottom: 1.5rem;
                margin-bottom: 1em;
                @include desktop {
                    padding-left: 24px;
                    flex-grow: 1;
                    flex-shrink: 0;
                    flex-basis: 25%;
                }
                color: $secondary-color;
                &--right {
                    > * {
                        margin-left: auto;
                    }
                    @include desktop {
                        position: relative;
                        right: 50px;
                        > * {
                            margin-left: 0;
                        }
                    }
                }
                select {
                    position: relative;
                    bottom: 10px;
                    max-width: 200px;
                }
                &.info-button {
                    padding-right: 1em;
                    margin-left: auto;
                }
            }
        }
    }
    &__footer {
        display: flex;
        padding-top: 10px;
        > * {
            margin-right: $margin-lateral-line-elements;
        }
        &__add {
            width: $outline-cta-width !important;
        }
    }
}
