@import "../variables.scss";

.field-array-checkbox {
    * {
        box-sizing: border-box;
    }

    &.has-error {
        .InputList {
            ul {
                li {
                    border: solid 1px $alert-color;
                }
            }
        }

        span {
            font-size: 12px;
            font-family: roboto;
            font-style: italic;
            display: inline-block;
            margin-top: 8px;
            float: right;
            color: rgba(215, 38, 61, 0.75);
        }
    }

    ul {
        padding: 0;
    }

    li {
        position: relative;
        list-style: none;
        display: inline-block;
        margin: 2px;

        &:hover {
            cursor: pointer;
        }
    }

    .InputList {
        ul {
            li {
                background-color: $complementary-color;
                color: white;
                font-family: roboto;
                padding: 6px 8px;
                border-radius: 13px;
            }
        }

        &.has-error {
            ul {
                li {
                    border: solid 1px $alert-color;
                }
            }
        }
    }

    .checked-inputs {
        margin-bottom: 8px;

        ul {
            li {
                font-size: 14px;
                color: $secondary-color;
                border-radius: $input--border-radius;
                border: solid 1px $secondary-color-20;
                padding: 3px 10px 2px 7px;
                background: none;
                height: $input--height;

                &:before {
                    content: "\00D7";
                    z-index: 2;
                    text-align: center;
                    line-height: 1;
                    font-size: 1.5rem;
                    margin-right: 6px;
                    vertical-align: middle;
                    color: $secondary-color-30;
                }
            }
        }
    }
}
