@import "../variables.scss";
@import "./viewports.scss";

.contact-in-organization {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    flex-wrap: wrap;
    &__header__title,
    &__body__row__element {
        @include desktop {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 20%;
        }
    }
    &__header {
        display: flex;
        width: 100%;
        &__title {
            margin-bottom: 1.5rem;
            font-family: roboto;
            font-weight: bold;
            color: $secondary-color-30;
            align-items: center;
            display: flex;
            &--with-cta {
                span {
                    margin-right: $margin-lateral-line-elements;
                }
            }
        }
    }
    &__body {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        &__row {
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin-top: 15px;
            width: 100%;
            align-items: center;
            &--disabled {
                .contact-in-organization__body__row__element {
                    color: $tertiary-color;
                }
            }
            &__element--ellipsis {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                > div {
                    > div {
                        height: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
            &__element {
                margin-bottom: 1.5rem;
                margin-bottom: 1em;
                @include desktop {
                    padding-left: 24px;
                    flex-grow: 1;
                    flex-shrink: 0;
                    flex-basis: 20%;
                }
                color: $secondary-color;
                &--right {
                    > * {
                        margin-left: auto;
                    }
                    @include desktop {
                        position: relative;
                        right: 50px;
                        > * {
                            margin-left: 0;
                        }
                    }
                }
                select {
                    position: relative;
                    bottom: 10px;
                    max-width: 200px;
                }
                &.info-button {
                    padding-right: 1em;
                    margin-left: auto;
                }
                &.--with-all-text-box {
                    padding-right: 2.5em;
                }
            }
            &__action-message {
                background-color: $gray-color;
                padding: 5px 15px;
                border-radius: 20px;
                font-weight: bold;
                display: flex;
                margin-left: auto;
                margin-bottom: 1em;
            }
        }
        &__buttons-in-the-final-row {
            margin-bottom: 1em;
            display: flex;
            align-items: center;
            width: 75px;
            justify-content: space-between;
            margin-left: auto;
        }
    }
    &__footer {
        display: flex;
        padding-top: 10px;
        @include mobile {
            flex-direction: column;
            max-width: 80%;
            > * {
                margin-bottom: 1em;
            }
        }
        > * {
            margin-right: $margin-lateral-line-elements;
        }
        &__add {
            width: $outline-cta-width !important;
        }
    }
    &__internal-filter-block {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0 1rem 0;
    }
    &--long-table {
        .contact-in-organization__header__title,
        .contact-in-organization__body__row__element {
            padding-left: 0;
            @include desktop {
                flex-basis: 13%;
            }
        }
    }
    &--xl-table {
        .contact-in-organization__header__title,
        .contact-in-organization__body__row__element {
            padding-left: 0;
            @include desktop {
                max-width: 120px;
            }
        }
    }
}
