@import "../variables.scss";
@import "~pretty-checkbox/src/pretty-checkbox.scss";

.field-checkbox {
    display: inline-block;
    width: 100%;
    div.pretty {
        margin-right: 0;
        width: 100%;
        display: flex;
        .state {
            width: 100%;
            justify-content: space-between;
            svg {
                width: 20px;
            }

            i {
                vertical-align: middle;
                color: $complementary-color;
                font-size: 12px;
            }

            label {
                text-indent: 16px;
            }
        }

        &.custom {
            &.p-switch.p-fill {
                .state {
                    &:before {
                        width: 1.2em;
                        height: calc(0.6em + 2px);
                        top: calc((0% - (100% - 1.3em)) - 16%);
                    }

                    label {
                        width: calc(0.6em + 2px);

                        &:after,
                        &:before {
                            border: 1px solid #cacaca;
                            width: calc(0.7em + 2px);
                            height: calc(0.7em + 2px);
                            top: calc((0% - (100% - 1.26em)) - 8%);
                            // transform: scale(1);
                        }

                        &.size-10 {
                            font-size: 10px;
                        }
                    }
                }

                input:checked ~ .state label:after {
                    left: 0.6em;
                }
            }

            &.icon-right {
                .state {
                    label {
                        text-indent: 0 !important;
                    }
                }
            }

            &.off-hidden {
                .state.p-off {
                    i,
                    svg {
                        visibility: hidden;
                    }
                }
            }
        }
    }

    label:hover {
        cursor: pointer;
    }
}
