@import "../variables.scss";

.filter-columns {
    display: inline-block;

    &.order{
        .icon-filter{
            vertical-align: middle;
            margin-left: 4px;
            color: $complementary-color;
        }
    }

    .dropdown {
        span.dropdown-toggle {
            cursor: pointer;
            color: $secondary-color-20;
            font-size: 12px;

            &:after {
                display: none;
            }
        }

        .dropdown-menu {
            padding: 10px 20px 15px;
            border-radius: 0;
            -webkit-box-shadow: 0 0 4px 2px #d6d6d6;
            -moz-box-shadow: 0 0 4px 2px #d6d6d6;
            box-shadow: 0 0 4px 2px #d6d6d6;
            border: none;

            .field-checkbox {
                display: block;
                margin: 15px 0;
            }
        }
    }
}
