@import "../variables.scss";

.filter {
    position: relative;
    margin-right: 16px;
    display: inline-block;

    &:before {
        display: inline-block;
        content: "\e90c";
        font-family: "sunet-icons";
        color: $complementary-color;
        position: absolute;
        font-size: 20px;
        left: 14px;
        top: 4px;
    }

    input {
        width: 204px;
        border-radius: $input--border-radius;
        border-width: 1px;
        height: $input--height;
        padding: 0 10px 0 40px;
        font-size: 14px;
    }

    .clear-input {
        position: absolute;
        right: 14px;
        top: 9px;
        color: $secondary-color-30;
        cursor: pointer;

        &:hover {
            color: $complementary-color;
        }
    }
}

.filter-date {
    .pretty {
        margin-right: 24px;

        label {
            text-indent: 16px !important;
            font-family: Karla;

            &:after,
            &:before {
                top: calc((0% - (100% - 18px)) - 8%) !important;
                font-size: 10px;
            }
        }
    }
}
