@import "../variables.scss";

.info-creator-modifier {
    display: flex;
    justify-content: flex-end;
    .info-creator-modifier__info {
        font-family: karla;
        text-align: right;
        display: inline-block;
        &--created {
            color: $tertiary-color;
            margin-right: 1em;
        }
    }
}
