@import "../variables.scss";

.model-list {
    display: table;
    width: 100%;
    border-spacing: 0 5px;

    > div:first-of-type {
        display: table-header-group;

        > div {
            font-weight: bold;
            background-color: $grey-header;
            padding: 10px;
            text-align: left;
            display: table-cell;

            &:last-of-type {
                text-align: right;
            }

            .dropdown {
                span.dropdown-toggle {
                    cursor: pointer;

                    &:after {
                        display: none;
                    }
                }

                .dropdown-menu {
                    padding: 10px 20px 15px;
                    border-radius: 0;
                    -webkit-box-shadow: 0 0 4px 2px #d6d6d6;
                    -moz-box-shadow: 0 0 4px 2px #d6d6d6;
                    box-shadow: 0 0 4px 2px #d6d6d6;
                    border: none;

                    .field-checkbox {
                        display: block;
                        margin: 15px 0;
                    }
                }
            }
        }
    }

    > div:last-of-type {
        display: table-row-group;
    }
}
