@import "../variables.scss";

.model-list {
    display: table;
    width: 100%;
    border-spacing: 0 5px;

    > div:first-of-type {
        display: table-header-group;

        > div {
            font-weight: bold;
            background-color: $grey-header;
            padding: 10px;
            text-align: left;
            display: table-cell;

            &:last-of-type {
                text-align: right;
            }
        }
    }

    > div:last-of-type {
        display: table-row-group;
    }
}
