@import "../variables.scss";

.model-list tbody tr {
    background-color: white;
    -webkit-box-shadow: $list--row-box-shadow;
    -moz-box-shadow: $list--row-box-shadow;
    box-shadow: $list--row-box-shadow;
    cursor: pointer;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;

    td {
        padding: 20px 10px;
    }

    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        bottom: 50%;
        left: 0;
        background: $brand-color;
        width: 4px;
        -webkit-transition-property: top bottom;
        transition-property: top bottom;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    &:hover:after {
        top: 0;
        bottom: 0;
    }
}
