@import "../variables.scss";

.order-by {
    display: inline-block;

    &.outline {
        border: 1px solid $secondary-color-20;
        border-radius: $input--border-radius;
        padding: 8px 11px;

        svg {
            color: $complementary-color;
        }
    }
}

.order-col {
    .state {
        label {
            text-indent: 0 !important;

            span {
                font-weight: bold;
            }

            .svg-inline--fa {
                margin-left: 2px;
                vertical-align: bottom;
                font-size: 12px;
                color: $complementary-color;
            }
        }
    }
}
