@import "../variables.scss";

.order-by {
    display: inline-block;

    &.outline {
        border: 1px solid $secondary-color-20;
        border-radius: 20px;
        padding: 8px 11px;
        svg{
            color: $complementary-color;
        }
    }
}
