@import "../variables.scss";

.side-nav {
    background-color: $secondary-color;
    background-image: linear-gradient(to bottom, rgba(58, 80, 107, 0.5), rgba(58, 80, 107, 0.2)),
        url("../static/img/bg-sidebar.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 90vh;
    height: 100%;
    .accordion {
        margin-top: 128px;

        a {
            text-decoration: none;
            text-decoration: none;
            vertical-align: middle;
            color: inherit;
            font-weight: bold;

            &:active {
                svg {
                    g {
                        opacity: 1;
                    }
                }
            }
        }

        .accordion__item {
            .accordion__button {
                margin-bottom: 4px;
                padding: 25px 0 25px 20px;
                color: rgba(#fff, 0.5);

                svg {
                    margin-right: 8px;
                    vertical-align: text-top;
                }

                &:hover {
                    cursor: pointer;
                }

                &[aria-expanded="true"] {
                    background-color: rgba(#fff, 0.1);
                    color: #fff;
                }

                &[aria-expanded="true"]::after,
                &[aria-selected="true"]::after {
                    transform: rotate(45deg);
                }
                &.with-arrow {
                    &::after {
                        display: inline-block;
                        content: "";
                        height: 10px;
                        width: 10px;
                        margin-right: 12px;
                        border-bottom: 2px solid currentColor;
                        border-right: 2px solid currentColor;
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        .accordion__panel {
            .nav {
                .nav-link {
                    background-color: $tertiary-color;
                    margin-bottom: 4px;

                    &.active {
                        background-color: $secondary-color-30;
                    }
                }
            }
        }
    }
}
