@import "../variables.scss";
/* generic styles for all buttons
(incl. :hover, :active, :focus and :disabled) */
button.btn {
    &.outline {
        width: 75px;
        height: 32px;
        opacity: 0.2;
        border-radius: 16px;
        border: solid 1px $secondary-color;
        background: none;
        color:
        &:before {
            display: inline-block;
            content: '';
            height: 8px;
            width: 8px;
            margin-right: 8px;
            border-bottom: 2px solid $complementary-color;
            border-right: 2px solid $complementary-color;
            transform: rotate(135deg);
        }
    }
}
