@import "../variables.scss";
/* generic styles for all buttons
(incl. :hover, :active, :focus and :disabled) */
button:focus {
    outline: none;
}

button.btn {
    line-height: normal;
    position: relative;
    font-family: karla;
    border: none;
    &.md {
        width: 100px;
        height: 36px;
    }

    &.lg {
        width: 180px;
    }

    &.primary {
        border-radius: 22px;
        padding: 13px 32px;
        color: #fff;
        background-color: $brand-color;
        font-weight: bold;

        &.focus,
        &:active {
            background-color: #db470e !important;
            outline: 0 !important;
            box-shadow: none;
        }

        &:disabled {
            background-color: $secondary-color-30;
        }
    }

    &.secondary {
        border-radius: 24px;
        color: #fff;
        background-color: $complementary-color;

        &:active {
            background-color: #44a2a0 !important;
        }

        &:disabled {
            background-color: $secondary-color-30;
        }
    }

    &.link {
        color: $tertiary-color;
        background: none;

        &.add {
            &:after,
            &:before {
                content: "";
                display: inline-block;
                background-color: $complementary-color;
                position: absolute;
                top: 50%;
                left: 50%;
                left: 0;
                transform: translate(-50%, -50%);
            }

            &:before {
                height: 10px;
                width: 2px;
            }

            &:after {
                height: 2px;
                width: 10px;
            }
        }
    }

    &.outline {
        font-size: 14px;
        color: $complementary-color;
        border-radius: $input-outline--border-radius;
        border: solid 1px $complementary-color;
        background: none;

        span {
            vertical-align: middle;
            color: $complementary-color;
        }

        &.btn-add {
            width: 100%;
            color: $tertiary-color;

            span {
                position: relative;

                &:after,
                &:before {
                    content: "";
                    display: inline-block;
                    background-color: $complementary-color;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    left: -10px;
                    transform: translate(-50%, -50%);
                }

                &:before {
                    height: 15px;
                    width: 2px;
                }

                &:after {
                    height: 2px;
                    width: 15px;
                }
            }
        }

        &.btn-back {
            &:before {
                display: inline-block;
                content: '';
                height: 10px;
                width: 10px;
                margin-right: 8px;
                margin-left: 4px;
                border-bottom: 1px solid $complementary-color;
                border-right: 1px solid $complementary-color;
                transform: rotate(135deg);
                vertical-align: middle;
            }
        }

        &.btn-load {
            &:before {
                content: '\e90e';
                font-family: "sunet-icons";
                margin-right: 8px;
                color: $complementary-color;
                vertical-align: middle;
            }
        }

        &.btn-copy {
            &:before {
                position: relative;
                top: 3px;
                margin-right: 4px;
                content: url("../static/img/copy.svg");
            }
        }

        &.btn-trash {
            &:before {
                display: inline-block;
                content: '\f12d';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: $complementary-color;
                vertical-align: middle;
            }
        }

        &.btn-remove {
            vertical-align: bottom;
            padding: 6.5px 12px;

            &:before {
                content: '\f00d';
                margin-right: 4px;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: $complementary-color;
                vertical-align: middle;
            }
        }

        &.btn-edit {
            display: flex;
            align-items: center;
            width: 72px;
            justify-content: space-between;
        }

        .icon-load {
            margin-right: 8px;
            color: $complementary-color;
            vertical-align: middle;
        }

        &:hover {
            background-color: $tertiary-color-3;
        }
    }
}

.row-remove-cta {
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
    &:after,
    &:before {
        content: "";
        display: inline-block;
        background-color: $gray-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:before {
        height: 14px;
        width: 2px;
    }

    &:after {
        height: 2px;
        width: 14px;
    }
}
