@import "../variables.scss";
@import "./viewports.scss";
/* generic styles for all buttons
(incl. :hover, :active, :focus and :disabled) */
button:focus {
    outline: none;
}

button.btn {
    line-height: normal;
    position: relative;
    font-family: karla;
    border: none;

    &:disabled {
        cursor: auto;
    }

    &.md {
        width: 100px;
        height: 36px;
    }

    &.lg {
        width: 180px;
    }

    &.reduced-in-mobile {
        @include mobile {
            width: 45px;
        }
        @include tablet {
            width: 45px;
        }
    }

    &.primary {
        border-radius: 22px;
        color: #fff;
        background-color: $brand-color;
        font-weight: bold;
        height: 45px;
        padding: 0;

        &.add-cta {
            @include desktop {
                width: 200px;
                padding: 13px 32px;
            }
        }

        &.focus,
        &:active {
            background-color: #db470e !important;
            outline: 0 !important;
            box-shadow: none;
        }

        &:disabled {
            background-color: $secondary-color-30;
        }
    }

    &.secondary {
        border-radius: 24px;
        color: #fff;
        background-color: $complementary-color;

        &:active {
            background-color: #44a2a0 !important;
        }

        &:disabled {
            background-color: $secondary-color-30;
        }
    }

    &.link {
        color: $tertiary-color;
        background: none;

        &.add {
            &:after,
            &:before {
                content: "";
                display: inline-block;
                background-color: $complementary-color;
                position: absolute;
                top: 50%;
                left: 50%;
                left: 0;
                transform: translate(-50%, -50%);
            }

            &:before {
                height: 10px;
                width: 2px;
            }

            &:after {
                height: 2px;
                width: 10px;
            }
        }
    }

    &.outline {
        font-size: 14px;
        color: $complementary-color;
        border-radius: $input-outline--border-radius;
        border: solid 1px $complementary-color;
        background: none;

        &--solid {
            background: $complementary-color;
            color: white;
        }

        span {
            vertical-align: middle;
            color: $complementary-color;
        }

        &.btn-add {
            width: $outline-cta-width;
            color: $tertiary-color;

            span {
                position: relative;

                &:after,
                &:before {
                    content: "";
                    display: inline-block;
                    background-color: $complementary-color;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    left: -10px;
                    transform: translate(-50%, -50%);
                }

                &:before {
                    height: 15px;
                    width: 2px;
                }

                &:after {
                    height: 2px;
                    width: 15px;
                }
            }
        }

        &.btn-back {
            width: $btn-mobile-width;
            height: $btn-mobile-height;
            span {
                display: none;
            }
            @include desktop {
                width: $btn-back-width;
                height: $row-height;
                span {
                    display: inline;
                }
            }
            &:before {
                display: inline-block;
                content: "";
                height: 10px;
                width: 10px;
                margin-right: 8px;
                border-bottom: 1px solid $complementary-color;
                border-right: 1px solid $complementary-color;
                transform: rotate(135deg);
                vertical-align: middle;
                margin-left: 1px;
                @include desktop {
                    margin-left: 4px;
                }
            }
        }

        &.btn-load {
            &:before {
                content: "\e90e";
                font-family: "sunet-icons";
                margin-right: 8px;
                color: $complementary-color;
                vertical-align: middle;
            }
        }

        &.btn-copy {
            &:before {
                position: relative;
                top: 3px;
                margin-right: 4px;
                content: url("../static/img/copy.svg");
            }
        }

        &.btn-trash {
            &:before {
                display: inline-block;
                content: "\f12d";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: $complementary-color;
                vertical-align: middle;
            }
        }

        &.btn-remove {
            vertical-align: bottom;
            padding: 6.5px 12px;

            &:before {
                content: "\f00d";
                margin-right: 4px;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: $complementary-color;
                vertical-align: middle;
            }
        }

        &.btn-edit {
            display: flex;
            align-items: center;
            height: $input--height;
            width: $input--width;
            justify-content: space-between;
            width: $btn-mobile-width;
            height: $btn-mobile-height;
            @include mobile {
                padding: 9px;
            }
            @include tablet {
                padding: 9px;
            }
            span {
                display: none;
            }
            @include desktop {
                width: $btn-back-width;
                height: $row-height;
                span {
                    display: inline;
                }
            }
        }

        &.more-info {
            width: 65px;
            height: 32px;
            padding: 0px 0px 0px 10px;
            text-align: center;
            align-items: center;
            span {
                &:before {
                    height: 6px;
                    width: 2px;
                }

                &:after {
                    height: 2px;
                    width: 6px;
                }
            }
            @include mobile {
            }
            @include tablet {
            }
            @include desktop {
            }
        }

        &.check {
            &:before {
                content: "\f00c";
                margin-right: 4px;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: $complementary-color;
                vertical-align: middle;
            }
        }

        .icon-load {
            margin-right: 8px;
            color: $complementary-color;
            vertical-align: middle;
        }
        &.dash-board-footer-button {
            width: 100%;
            box-sizing: border-box;
            border: solid 1px transparent;
            font-weight: bold;
            &:hover {
                border-radius: initial;
                border-bottom: solid 1px $complementary-color;
                background-color: transparent;
            }
        }

        &:hover {
            background-color: $tertiary-color-3;
        }
    }
}

.row-cta {
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 15px;
        height: 15px;
    }
    &.active {
        background-color: $gray-color;
        border-radius: 1em;
        svg {
            path {
                fill: #fff;
            }
        }
    }
    &.remove {
        // background-image: url("../static/img/trash.svg");
    }
    &.edit {
        // background-image: url("../static/img/grey-pencil-icon.svg");
    }
    &.unlink {
        // background-image: url("../static/img/unlink.svg");
    }
}

.row-cross-remove-cta {
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
    &:after,
    &:before {
        content: "";
        display: inline-block;
        background-color: $gray-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:before {
        height: 14px;
        width: 2px;
    }

    &:after {
        height: 2px;
        width: 14px;
    }
}
