@import "../variables.scss";

.toggle-section {
    .toggle-header {
        > :first-child {
            margin-right: 8px;
            margin-bottom: 0;
        }

        > * {
            display: inline-block;
        }

        .icon-action{
            margin: 0 8px;
        }

        .colapse {
            width: 10%;
            float: right;
            text-align: right;

            &:hover {
                cursor: pointer;
            }

            &:after {
                display: inline-block;
                content: '';
                height: 6px;
                width: 6px;
                border-bottom: 2px solid $complementary-color;
                border-right: 2px solid $complementary-color;
                vertical-align: middle;
                transform: rotate(-135deg);
            }

            &[aria-expanded='false']:after {
                transform: rotate(45deg);
            }
        }
    }

    .toggle-panel {
        margin-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
