@import "../variables.scss";

header {
    background-color: white;
    nav#top-header {
        border-bottom: solid 2px $secundary-color;
        width: 100%;
        text-align: center;

        svg {
            color: grey;
        }
        .navbar-nav{
            &:last-child{
                display: table;
                .nav-item{
                    display: table-cell;
                    width: 40px;
                    vertical-align: middle;
                    font-size: 18px;
                    &:last-child{
                        img {
                            border: solid 1px rgba(177,177,177,1);
                        }
                    }
                }
            }
            .nav-item{
                span.dropdown-toggle{
                    &:hover{
                        cursor: pointer;
                    }
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
}
