@font-face {
  font-family: 'sunet-icons';
  src:  url('sunet-icons.eot?qnym4k');
  src:  url('sunet-icons.eot?qnym4k#iefix') format('embedded-opentype'),
    url('sunet-icons.ttf?qnym4k') format('truetype'),
    url('sunet-icons.woff?qnym4k') format('woff'),
    url('sunet-icons.svg?qnym4k#sunet-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sunet-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-contact:before {
  content: "\e900";
}
.icon-organization:before {
  content: "\e901";
}
.icon-trash:before {
  content: "\e902";
}
.icon-copy .path1:before {
  content: "\e903";
  color: ;
}
.icon-copy .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-copy .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: ;
}
.icon-arrow:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-filter:before {
  content: "\e908";
}
.icon-pencil:before {
  content: "\e909";
}
.icon-column:before {
  content: "\e90a";
}
.icon-magn:before {
  content: "\e90b";
}
.icon-more:before {
  content: "\e90c";
}
.icon-load:before {
  content: "\e90d";
}
.icon-tick:before {
  content: "\e90e";
}
