import graphql from 'babel-plugin-relay/macro';

const OpticalLinkDetailsQuery = graphql`
  query OpticalLinkDetailsQuery($opticalLinkId: ID!) {
    getOpticalLinkById(id: $opticalLinkId) {
      ...OpticalLinkUpdateForm_opticalLink
      ___OPTICAL_LINK_FIELDS___
    }
  }
`;

export default OpticalLinkDetailsQuery;
