/*
 * Colors
 * ========================================================================== */

$background-color: #bbded9;
$text-color: #333;

/*
 * Typography
 * ========================================================================== */

$font: "Roboto-Black";

